body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1{
    text-align: center;
}
header, nav, section, footer, .bottom-bar {
    width: 100%;
    box-sizing: border-box;
}
header h1{
    color: black;
    font-size: 50px;
}
.header-container, .section-container, .footer-container, .bottom-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

header {
    background-image: url(img/11.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
}

nav {
    background-color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
}

section, footer {
    padding: 20px 0;
    flex: 1; 
}

#about, #contact {
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    background-image: url(img/charity_donate-4.jpg);
    color:white;
}
#about h2 p {
background-color: black;
color: white;
}

#contact {
    background-color:rgb(182, 181, 181);
    text-align: center;
    color: black;
}
#donate {
    background-image: url(img/9.jpg);
    text-align: center;
    color: white;
}

.bottom-bar {
    background-color: black;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(206, 168, 112);
}
@media screen and (max-width: 600px) {
    .header-container, .section-container, .footer-container, .bottom-bar-container {
        padding: 0 10px;
    }

    nav {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
footer{
    background-color: black;
}